.nav{
    grid-area: nav;
    /* background-color:   */
}
.item{
    
}
.item a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 30px;
    display: inline-block;
    width: 100%;
}
.active a{
    background-color: rgba(174, 183, 194, .12)
}
  