body{
  background-color: rgb(237, 238, 240);
}
.app-wrapper{
  display: grid;
  grid-template-areas: 
  "header header" 
  "nav content";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
  width: 1200px;
  margin: 0 auto;
}





