.wrapper{
    background-color: white;
    border: 1px solid rgb(231, 232, 236);
    display: grid;
    grid-template-areas:
    "contactsNav dialog"
    "contacts dialog";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 10fr;
    grid-gap: 10px;
}
