/* Комбинации */
*{
    color: darkcyan;
}

h1,
span{
    color:deeppink;
}

.container{
    position: relative;
}
.red{
    width: 100px;
    height: 100px;
    background-color: red;
}
.blue{
    width: 100px;
    height: 100px;
    background-color: blue;
}
.green{
    width: 100px;
    height: 100px;
    background-color: green;
}

/* div > p {
    color: green;
} */
ul ~ p {
    color: indigo;
}