.content{
  grid-area: content;
  /* background-color: white;
  border: 1px solid rgb(231, 232, 236); */
  border-radius: 4px;
  display: grid;
  grid-template-areas: 
  "ava description"
  "info posts";
  grid-template-rows: 300px 1fr;
  grid-template-columns: 1fr 2fr;
  grid-gap: 10px;
}
.content img{
  width: 100%;
  height: 50px;
}

.bg_profile{
  background-color: white;
  border: 1px solid rgb(231, 232, 236);
}

.ava{

}

.description{

}